body {
	min-width: 700px;
	min-height: 100px;
	max-width: 800px;
	max-height: 300px;
}

#title {
	text-align: center;
	color: #888;
	font-size: 1.5em;
	margin-top: 10px;
}
#title .fa-leaf{
	font-size: .9em;
}
.summary {
	border: dotted black 1px;
	margin: 15px;
}

.jumbotron p {
	font-size: 14px;

}

body {
	background-color: #DAE8C7;
}

.jumbotron {
	padding: 40px;
	background-color: #fefefe;


}

.jumbotron .load {
	height: 100px;
	width: 100px;

}

img {
	display: block;
	margin: 0 auto;
}


.btn-group {
	display: block;
	float: center;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: 40%;
	opacity: 0;
	transition: opacity 1s;
}

.article {
	display: block;
	margin: 0 auto;
}

#title2 {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: -1.6em;
    color: #383E32;
    font-size: 1.5em;
    padding-left: .3em;
    padding-right: .3em;

}

#author {
	text-align: center; 
}

.article {
	border: solid grey 1px;
	max-width: 300px;
	min-height: 500px;
}

.list-group {
	margin: 15px;
}

.title {
	text-align: center;
}

.lighter {
	background-color: #fafafa;
}

.lighter i {
	color: #B9D8B9;
}
